@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("image.jpg");
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: rgba(220, 220, 220, 0.444);
}

#card{
  box-shadow: 0 0 25px rgba(83, 83, 83, 0.611);
  border-radius: 10px;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.6em;
  justify-content: center;
}

h2{
  background-color: antiquewhite;
}

@media screen and (max-width:780px){
  .grid{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.3em;
  }
}
